.App {
    --header_height: 60px;
    font-family: Montserrat,sans-serif;

}

.hw {
    width: 100%;
    border: 1px solid #D9D9D9;

}

.hwTitle {
    margin:131px 0 20px 70px ;
    font-size: 22px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 27px;
}